
body{
    background-color: var(--light);
}
#content {
    color: var(--dark);
    background-color: var(--light) ;
}

* {
   
    color: var(--dark);
}
a{
    color: var(--dark);
}
.bouton{
    color: var(--light);
    background-color: var(--dark);
}
.bouton:hover {
    background-color: var(--accent);
    color: var(--dark);
}

.form-input,.form-textarea {
    color: var(--dark);
    background-color: var(--light);
    border: 2px solid #aaa;
}
.form-button:hover  {
    color: var(--dark);
    background-color: #aaa;
}
.back-top{
    background-color: #aaa;
}
.back-top:hover{
    border: 2px solid var(--dark);
}
.dark {
    display: none;
}
.light{
    display: inline;
}