html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
}
a{
    color: black;
}
.form-input{
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;

    border-radius: 4px;

    margin-bottom: 2vh;
    padding: 10px;
}
.form-textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;

    border-radius: 4px;
    resize: none;
}
.form-button{
    margin-top: 2vh;
    margin-bottom: 2vh;
    transition: 1s;
}
form {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    width: 100%;
    z-index: 3;
}

.gauche {
    float: left;
}
.droite {
    float:right;
}
.ah {
    margin:0;
    width: 0;
    height: 0;
    border: 0;
}
.img-acceuil {
    top:50%;
    margin-left: 4px ;
    margin-right: 3px ;
    margin-top: 4px;
    padding: 0;
    filter: grayscale(100%);
    transition: 0s;
    border-radius: 50%;
    transform: rotate(90deg);

}
.img-acceuil:hover {
    filter: grayscale(0%);
    transform: rotate(0deg);
}
.lama{
    filter: grayscale(100%);
    transition: 1s;
    max-width:200px ;
    float: left;
    border-radius: 50%;
}
.lama:hover {
    filter: grayscale(0%);
    transform: rotate(180deg);
}

.nav-lien {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 2px;
}
.nav-lien:hover {
    background-color: whitesmoke;
    color: #111;
}

#contenu {
    transition: 1s;

    padding: 10px;
    display: flex;
    flex-flow: column;
    position: relative;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    min-height: 89vh;
    
}
h1 {
    text-align: center;
}

.active {
    background-color: #DDD;
    color: #111;
}

.bouton{
    text-decoration: none;
    
    padding: 1em;
    margin: 1em;
    margin-left: 0;
}

.liste-projets {
    list-style-type:"";
    display: block;
}
.download {
    transition: 0.5s;
}
.demo {
    transition: 0.5s;
}
.projets{
    text-align: center;
    transition: 0.5s;
}


.github {
    background:transparent;
    transition: 0.5s;
    margin-right: 0;
}
.github:hover {
    color: whitesmoke;
    background-color: #000;
}
.bouton{
    border-radius: 2px;
}
.p-projet {
    display: flex;
    flex-flow: row ;
    width: 100%;

}
.p-projet p{
    margin: 0;
    padding: 0;
}
p {
    display: block;
}
h2 {
    margin-bottom: 0;
}
.p-nom{
    flex: 2;
    margin: 0;
}

.dropdown {
    display: none;
    list-style: none;

}
.nav-mobile{
    display: none;
    background: #333333;
    color: whitesmoke;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
/*
.nav-mobile:hover .dropdown{
    display: block;
}*/
.back-top{
    position: fixed;
    right: 0;
    transition:  1s;
    bottom: 0;
    margin: 0;
    border: 2px solid rgba(0, 0, 0, 0);

}
.back-top:hover{
    border-radius: 4px;
}
footer{
    width: 100%;
}
footer p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.anim-red{
    display:inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    animation: red-anim 2s infinite;
}
@keyframes red-anim{
    0%{
        background-color: red;
    }
    50%{
        background-color: transparent;
    }
    100%{background-color: red;}
}

@media only screen and (max-width: 700px) {
/* affichage mobile*/
    .nav-pc {
      display: none ;
    }
    .lama{
        margin-right: auto;
        margin-left: auto;
        
    }
    section{
        display: flex;
        flex-flow: column;
    }
    section p {
        width: 100%;
    }
    .nav-mobile {
        display: block;
        color: whitesmoke;
    }
    .demo,.download {
        display: none;
    }
    .github{
        width: auto;
        text-align: left;
        margin-right: 15px;
        margin-left: 15px;
        margin: 0;
    }
    h2 {
        margin-bottom: 15px;
    }

}
